li{list-style: none;}
ul {margin-top: 0px !important;padding:0 !important;}
p{margin:0px !important;}
.main-view {width: 1190px; margin: 28px auto;} 
.b-mod {border: 1px solid #d9d9d9; border-top: 3px solid #008fd5; margin-bottom: 24px; overflow: hidden;}

/******coupon*****/
.icon {background-image: url(../img/icon.png);}
.icon-bk-bt{background-image: url(../img/icon_repeat_1.png);
	background-position: 0 0;background-repeat: repeat-x; width: 218px; height: 4px; position: absolute; bottom:50px;left:0px;}
.coupon .ui-tab-self{border-bottom:1px solid #e5e5e5;}
.ui-tab-self {width: 100%;height: 50px;margin-bottom: 25px; box-sizing: border-box; border-bottom: 1px solid #e5e5e5; }
.ui-tab-self .tab {float:left; height: 50px;  padding:12px 20px;display: inline-block;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;font-size: 18px;cursor: pointer;box-sizing: border-box;}
.count {display: inline-block;color:#fff;font-size:14px; margin-left:5px;padding: 0px 5px; -moz-border-radius: 21px; -webkit-border-radius: 21px; border-radius: 21px;}
.count.count-a {background-color:#52cc7a;}
.count.count-e {background-color:#ccc;}
.count.count-u {background-color:#435159;}
.ui-tab-self .tab.active{border-bottom-color:#fff;} 
.b-mod .coupon-lists {margin-left:12px; display: none;}
.show{display: block !important}
.coupon-lists li { float:left; width:25%; position: relative;margin-bottom:12px}
.coupon-lists li .wrapper {margin-right: 12px; padding:0;border: 1px solid #e5e5e5}
.coupon-lists li .wrapper .item {padding:20px 10px; border-top:10px solid;}
.coupon-lists.coupon-a li .wrapper .item{  border-color:#52cc7a;}
.coupon-lists.coupon-e li .wrapper .item{  border-color:#ccc;}
.coupon-lists.coupon-u li .wrapper .item{  border-color:#435159;}
.coupon-lists li .wrapper .date{height: 30px; background-color:#f2f2f2;}
.coupon-lists li .wrapper .date p{line-height: 30px; padding-left:10px;}
.coupon-lists li .wrapper .icon-bk-bt {width:282px;bottom:30px;}
.coupon-lists.coupon-a .item .money{color:#52cc7a;}
.coupon-lists.coupon-e .item .money{color:#ccc;}
.coupon-lists.coupon-u .item .money{color:#435159;}
.icon-cash,.icon-cut{ position: absolute;top:15px;right: 20px;}
.coupon-lists.coupon-a .item .icon-cut {width: 55px;height: 45px; background-position: 0 -20px;}
.coupon-lists.coupon-e .item .icon-cut{width: 55px;height: 45px; background-position: -55px -20px;}
.coupon-lists.coupon-u .item .icon-cut {width: 55px;height: 45px; background-position: -110px -20px;}
.coupon-lists.coupon-a .item .icon-cash {width: 55px;height: 55px; background-position: 0 -65px;}
.coupon-lists.coupon-e .item .icon-cash {width: 55px;height: 55px; background-position: -55px -65px;}
.coupon-lists.coupon-u .item .icon-cash {width: 55px;height: 55px; background-position: -110px -65px;}